body {
  font-family: 'Quicksand', sans-serif;
  color: #222;  
  background: #fff;
  font-size: 20px;
}

.container {
  padding: 40px 70px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.contato-left,
.contato-right {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.contato-left a {
  color: #1a8f2c;
  text-decoration: none;
  font-weight: 700;
}

.contato-left a:hover {
  text-decoration: underline;
}

.contato-left i {
  color: #6a9547;
  margin-right: 6px;
}

.contato-right a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
